<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Meme Edit Page</h1>
        <form action="/fantasy/<%=bongo.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=bongo.name%>"/><br/>
            <img src="<%=bongo.meme%>"><p>
            Meme (direct link): <input type="text" name="meme" value="<%=bongo.meme%>"/><br/>
            Check here if you think your Mother would understand this Meme:
            <input 
                type="checkbox" 
                name="motherKnow" 
                <% if(bongo.motherKnow === true){ %>
                    checked
                <% } %>
                />       
            <br/>
            Meme explanation: <input type="text" name="explain" value="<%=bongo.explain%>"/><br/>
            <input type="submit" value="submit changes">
        </form>
        <nav>
            <a href="/fantasy">Back to Meme Index</a>
        </nav>
    </body>
</html>