<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/styles.css">
    <head>
        <meta charset="utf-8">
        <title>MEME INDEX PAGE</title>
    </head>
    <body>
        <header>
        <h1>MEME INDEX PAGE</h1>
        <h3>(Click on Meme for more details)</h3>
        </header>
            <% for(let i=0; i < bingo.length; i++){ %>
                <ul>
                    <h3>Meme #<%= [i+1]%>:<br/></h3>
                    <a href="/fantasy/<%=bingo[i].id%>">
                    <img src="<%=bingo[i].meme %>" class="img-class"></a><p>


                    <a href="/fantasy/<%=bingo[i].id%>/edit"><button type="button" style="width: 150px;">EDIT</button></a>
                    <form action="/fantasy/<%=bingo[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE" style="width: 150px;"/>
                    </form>
                </ul>
            <% } %>
            <p>
        <nav>
            <a href="/fantasy/new"><button type="button" style="width: 150px;" style="height: 150px;">ADD NEW MEME</button></a>
        </nav>
    </body>
</html>
